@font-face {
    font-family: 'Iverse Mono';
    src: url('../Iverse/IverseMono-Regular.eot');
    src: local('Iverse Mono'), local('IverseMono-Regular'),
        url('../Iverse/IverseMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Iverse/IverseMono-Regular.woff2') format('woff2'),
        url('../Iverse/IverseMono-Regular.woff') format('woff'),
        url('../Iverse/IverseMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iverse Mono';
    src: url('../Iverse/IverseMono-Bold.eot');
    src: local('Iverse Mono Bold'), local('IverseMono-Bold'),
        url('../Iverse/IverseMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Iverse/IverseMono-Bold.woff2') format('woff2'),
        url('../Iverse/IverseMono-Bold.woff') format('woff'),
        url('../Iverse/IverseMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

