body{
  margin: 0;
  overflow: hidden;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.video-player{
  width: 100%;
  height: 70%;
  background-color: #f4f0e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

#video{
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video video{
  height: 100%;
}

.controls{
  position: absolute;
  bottom: 0;
  width: 95%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.segment-controls{
  display: flex;
  gap: 5%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.segment-controls button{
  color: #f4f0e7;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}


.toggleButton{
  cursor: pointer;
  color: #f4f0e7;
  width: 2%;
}

.progress {
  position: relative;
  display: flex;
  flex-basis: 90%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
  height: 15px;
  margin-left: 2%;
}

.progress__filled {
  background-color: #A22C29;
  width: 50%;
  flex: 0;
  flex-basis: 0%;
}

.down-section{
  background-color: #212422;
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.down-section::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212422;

}

.down-section::-webkit-scrollbar
{
	width: 12px;
	background-color: #212422;
  
}

.down-section::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A22C29;
}

.segment-container{
  width: 20%;
  margin: 2%;
}

.segment-container video{
  width: 100%;
}

.selected{
  border: 3px solid #A22C29;
}

.segment-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px; 
  background-color: #A22C29; 
  z-index: 2; 
  pointer-events: none; 
}

.custom-timeline {
  width: 60%;
  height: 15%;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.waveform {
  position: relative;
  width: 100%;
  height: 100%;
}

.waveform div{
  height: 100%;
}

.custom-progress__filled {
  height: 100%;
  background-color: #A22C29;
  width: 0;
  position: absolute;
}

.segment-indicator {
  position: absolute;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none;
}

.time{
  color: white;
  mix-blend-mode: difference;
}

.video-selector{
  padding-top: 5%;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  gap: 5%;
}

.video-selector::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212422;

}

.video-selector::-webkit-scrollbar
{
	width: 12px;
	background-color: #212422;
  
}

.video-selector::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A22C29;
}

.video-selector img{
  height: 15%;
  cursor: pointer;
}


.header{
  width: 100%;
  height: 10%;
  background-color: #A22C29;
}

.right-side{
  width: 30%;
  height: 100%;
  background-color: #212422;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-side{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .top-side{
    width: 100%;
    height: 50%;
    background-color: #f4f0e7;
  }

  .bottom-side{
    width: 100%;
    height: 50%;
    background-color: #212422;
    overflow-y: scroll;
  }

  .video-player{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
  
  #video{
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #video video{
    height: 100%;
  }

  .controls{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .custom-timeline {
    width: 90%;
    height: 10%;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

  .toggleButton{
    cursor: pointer;
    color: #212422;
    width: 8%;
  }

  .add-video{
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: 2;
  }

  .video-selector {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #212422;
    display: flex;
    z-index: 1000;
    animation: slideDown 0.3s ease-out;
    justify-content: left;
    overflow: hidden;
  }
  
  @keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }

  .video-selector.closing {
    animation: slideUp 0.3s ease-in;
  }
  
  @keyframes slideUp {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
  }

  .close{
    position: fixed;
    margin-left: 5%;
  }

  .selector-images{
    padding-top: 5%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    gap: 5%;
  }

  .selector-images img{
    height: 15%;
  }


  .down-section{
    background-color: #212422;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    overflow-y: scroll;
  }

  .segment-container{
    width: 40%;
    margin: 5%;
  }
  
  .segment-container video{
    width: 100%;
  }
}