@import url("fonts/Iverse/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body{
  margin: 0;
  overflow-x: hidden;
  background-color: #FFF;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.video-player{
  width: 100%;
  height: 40%;
  background-color: #f4f0e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

#video{
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video video{
  height: 100%;
}

.controls{
  position: absolute;
  bottom: 0;
  width: 95%;
  display: flex;
  align-items: center;
  z-index: 2;
  gap: 1%;
}

.toggleButton{
  cursor: pointer;
  color: #f4f0e7;
  width: 5%;
}

.volume-control{
  cursor: pointer;
  width: 5%;
  height: fit-content;
  margin-left: 2%;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  width: 5%;
  rotate: -90deg;
  top: -150%;
  right: -8%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f4f0e7;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -4px; 
  background-color: #A22C29;
  border-radius: 0.5rem;
  height: 1rem;
  width: 0.5rem;
}


input[type="range"]::-moz-range-track {
  background-color: #f4f0e7;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: #A22C29;
  border: none; 
  border-radius: 0.5rem;
  height: 1rem;
  width: 0.5rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #A22C29;
  outline-offset: 0.125rem;
}
.progress {
  position: relative;
  display: flex;
  flex-basis: 90%;
  background: #f4f0e7;
  cursor: pointer;
  height: 15px;
  margin-left: 2%;
}

.progress__filled {
  background-color: #A22C29;
  width: 50%;
  flex: 0;
  flex-basis: 0%;
}

.down-section{
  background-color: #212422;
  display: flex;
  height: 60%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.down-section::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212422;

}

.down-section::-webkit-scrollbar
{
	width: 12px;
	background-color: #212422;
  
}

.down-section::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A22C29;
}

.segment-container{
  width: 20%;
  height: 35%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.video-element{
  width: 100%;
}

.segment-controls{
  width: 100%;
}

.volume-segments{
  width: 50% !important;
}

.segment-controls button{
  color: #f4f0e7;
  border: none;
  background: none;
  cursor: pointer;
  margin: 5%;
  padding: 0;
}


.selected{
  border: 3px solid #A22C29;
}

.segment-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px; 
  background-color: #A22C29; 
  z-index: 2; 
  pointer-events: none; 
}

.custom-timeline {
  width: 60%;
  height: 20%;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.waveform {
  position: relative;
  width: 100%;
  height: 100%;
}

.waveform div{
  height: 100%;
}

.custom-progress__filled {
  height: 100%;
  background-color: #A22C29;
  width: 0;
  position: absolute;
}

.segment-indicator {
  position: absolute;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none;
}

.time{
  color: #f4f0e7;
  mix-blend-mode: difference;
}

.video-selector{
  padding-top: 5%;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  gap: 5%;
}

.video-selector::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212422;

}

.video-selector::-webkit-scrollbar
{
	width: 12px;
	background-color: #212422;
  
}

.video-selector::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A22C29;
}

.video-selector img{
  height: 15%;
  cursor: pointer;
}

.header{
  z-index: 1000;
  width: 90vw;
  position: fixed;
  display: flex;
  padding: 1.875rem 5em;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
}

.header a{
  text-decoration: none;
  color: #FFF;
  font-family: "Iverse Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
}

.header a:hover{
  color: #A22C29;
}

.nav{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.75rem;
}

.conteudos{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}


.mission-team{
  display: flex;
  padding: 9.5rem 7.5625rem;
  flex-direction: column;
  align-items: center;
  gap: 8.75rem;
}

.hero{
  margin: 0;
  height: 100vh;
  flex-shrink: 0;
  align-self: stretch; 
}

.hero-video{
  margin: 0;
  width: 100%;
  height: 100%;
}

.hero-title-cont{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.hero-title{
  color: #F4F0E7;
  text-align: center;
  font-family: Newsreader;
  font-size: 10.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12.5rem;
}

.hero-title-ouvido{
  color: #F4F0E7;
  font-family: Newsreader;
  font-size: 10.625rem;
  font-style: italic;
  font-weight: 400;
  line-height: 12.5rem;
}

.hero-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-text{
  display: flex;
  width: 61.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.intro-text h2{
  color: #9A2B28;
  font-family: "Iverse Mono";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.intro-text p{
  color: #212422;
  font-family: Newsreader;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.pic-carrossel{
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  width: 112.5rem;
  padding-left: 5rem;
  align-items: center;
  gap: 1.875rem;
}

.pic-carrossel figure img{
  width: 48.3125rem;
  height: 34rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 1.25rem;
}

.equipa{
  display: flex;
  width: 61.25rem;
  height: 40.9375rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.equipa h2{
  color: #9A2B28;
  text-align: center;
  font-family: "Iverse Mono";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.equipa-cont{
  display: flex;
  height: 34rem;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-shrink: 0;
  align-self: stretch;
}

.equipa-tiago{
  display: flex;
  width: 28.75rem;
  flex-direction: column;
  align-items: center;
}

.equipa-tiago img{
  height: 27.6875rem;
  width: 100%;
  border-radius: 1.25rem;
  object-fit: cover;
}

.equipa-tiago p{
  color: #000;
  text-align: center;
  font-family: Newsreader;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 218.182% */
  text-transform: capitalize;
}

.equipa-cristina{
  display: flex;
  width: 28.75rem;
  flex-direction: column;
  align-items: center;
}

.equipa-cristina img{
  height: 27.6875rem;
  width: 100%;
  border-radius: 1.25rem;
  object-fit: cover;
}

.equipa-cristina p{
  color: #000;
  text-align: center;
  font-family: Newsreader;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 218.182% */
  text-transform: capitalize;
}


.apoios-parcerias{
  display: flex;
  width: 90vw;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.apoios-parcerias h2{
  color: #9A2B28;
text-align: center;
font-family: "Iverse Mono";
font-size: 1.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.logos-apoios{
  display: flex;
flex-direction: column;
align-items: flex-end;
gap: 1.875rem;
align-self: stretch;
}

.parcerias{
  display: flex;
  height: 9.375rem;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}

.parcerias figure{
  width: 8.62169rem;
}
.parcerias figure img{
  width: 100%;
  height: 100%;
}

.apoios{
  display: flex;
  height: 9.375rem;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}

.apoios figure{
  width: 8.62169rem;
}
.apoios figure img{
  width: 100%;
  height: 100%;
}

.hero-recolha{
  display: flex;
  width: 100vw;
  height: 50vh;
  padding: 6.5625rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #212422;
}

.texto-intro-recolha{
  width: 40%;
  color: #F4F0E7;
  font-family: Newsreader;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; 
}

.estatistica{
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-shrink: 0;
}

.num-videos{
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.num-proj{
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}

.num-videos p{
  margin: 0;
  color: #F4F0E7;
  font-family: "Iverse Mono";
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.num-videos h3{
  color: #9A2B28;
  font-family: "Iverse Mono";
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


.num-proj p{
  margin: 0;
  color: #F4F0E7;
  font-family: "Iverse Mono";
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.num-proj h3{
  color: #9A2B28;
  font-family: "Iverse Mono";
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.conteudo-recolha{
  display: flex;
  padding: 6.5625rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 8.75rem;
  flex-shrink: 0;
  align-self: stretch;
}

.texto-recolha{
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4375rem;
}

.texto-recolha h2{
  color: #9A2B28;
  text-align: center;
  font-family: "Iverse Mono";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.recolha-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  align-self: stretch;
}

.recolha-cont p{
  color: #212422;
  font-family: Newsreader;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.carrossel-recolha{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.img-recolha{
  width: 100%;
  border-radius: 1.5625rem;
}

.hero-divul{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.img-divul{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
}

.first{
  opacity: 1;
  transition: opacity 0.5s;
}

.Divul-cont{
  margin-top: 8.75rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.75rem;
  align-self: stretch;
}

.divulgacao{
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4375rem;
}

.divulgacao h2{
  color: var(--Color, #A22C29);

  font-family: "Iverse Mono";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.divulgacao p{
  color: #000;

  font-family: Newsreader;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
}

.imagens-cura{
  overflow-x: scroll;
  display: flex;
  width: 100%;
  padding-left: 5rem;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
}

.imagens-cura img{
  object-fit: cover;
  width: 37.5rem;
  height: 28.125rem;
  border-radius: 1.25rem;
}

.Footer{
  background-color: #F4F0E7;
  display: flex;
  padding: 3.1875rem 0rem 0.25rem 0rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.footer-container{
  display: flex;
  width: 90vw;
  padding: 1.875rem 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.75rem;
}

.info-site{
  display: flex;
  width: 99.4375rem;
  height: 20.0625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
}

.outros-projetos{
  display: flex;
  width: 99.4375rem;
  padding: 1.25rem 0rem;
  justify-content: space-between;
  align-items: center;
}

.info-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
  align-self: stretch;
}

.info{
  display: flex;
  width: 102.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.info p{
  color: #000;
font-family: Newsreader;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; 
}

.site-nav{
  display: flex;
  width: 26.6875rem;
  padding: 0.5rem 0rem;
  align-items: flex-start;
  gap: 1.375rem;
  flex-shrink: 0;
}

.site-nav div{
  display: flex;
  width: 13.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
}

.site-nav div a{
  text-decoration: none;
  color: #212422;
  cursor: pointer;
}

.left-side{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.right-side{
  width: 30%;
  height: 100%;
  background-color: #212422;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorial-step-0{
  width: 80vw;
  height: 80vh;
  z-index: 1000;
  background-color: #A22C29e2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  border-radius: 25px;
}

.tutorial-step-1{
  width: 60vw;
  height: 70vh;
  z-index: 1000;
  background-color: #A22C29e2;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  border-radius: 25px;
}

.tutorial-step-2{
  width: 45vw;
  height: 70vh;
  z-index: 1000;
  background-color: #A22C29e2;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  border-radius: 25px;
}

.tutorial-step-2 .Txt{
  color: #f4f0e7;
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.tutorial-step-2 .Txt h1{
  text-align: center;
  font-family: Iverse Mono ;
  font-size: 4rem;
  font-style: normal;
  line-height: 4rem;
  text-transform: uppercase;
}

.tutorial-step-2 .Txt p{
  color: #f4f0e7;
  font-family: Newsreader;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.tutorial-step-3{
  width: 80vw;
  height: 60vh;
  z-index: 1000;
  background-color: #A22C29e2;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  border-radius: 25px;
}

.tutorial-step-3 .Txt{
  color: #f4f0e7;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tutorial-step-3 .Txt h1{
  text-align: center;
  font-family: Iverse Mono ;
  font-size: 4rem;
  font-style: normal;
  line-height: 4rem;
  text-transform: uppercase;
}

.tutorial-step-3 .Txt p{
  color: #f4f0e7;
  font-family: Newsreader;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.tutorial-step-4{
  width: 60vw;
  height: 60vh;
  z-index: 1000;
  background-color: #A22C29e2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  border-radius: 25px;
}

.tutorial-step-4 .botoes .seguinte{
  display: none;
 }

.tutorial-step-0 .botoes .anterior{
  display: none;
}

.Txt{
  color: #f4f0e7;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.Txt h1{
  text-align: center;
  font-family: Iverse Mono;
  font-size: 5.25rem;
  font-style: normal;
  line-height: 5rem;
  text-transform: uppercase;
}

.Txt p{
  color: #f4f0e7;
  font-family: Newsreader;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}

.botoes{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botoes p{
  color: #f4f0e7;
  font-family: Iverse Mono;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  cursor: pointer;
}



@media screen and (max-width: 500px) {
  .main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .top-side{
    width: 100%;
    height: 40%;
    background-color: #f4f0e7;
  }

  .bottom-side{
    width: 100%;
    height: 60%;
    background-color: #212422;
    overflow-y: scroll;
  }

  .video-player{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
  
  #video{
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #video video{
    height: 100%;
  }

  .controls{
    position: absolute;
    bottom: 0;
    width: 90%;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .custom-timeline {
    width: 90%;
    height: 10%;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

  .toggleButton{
    cursor: pointer;
    color: #212422;
    width: 8%;
  }

  .add-video{
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: 2;
  }

  .video-selector {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #212422;
    display: flex;
    z-index: 1000;
    animation: slideDown 0.3s ease-out;
    justify-content: left;
    overflow: hidden;
  }
  
  @keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }

  .video-selector.closing {
    animation: slideUp 0.3s ease-in;
  }
  
  @keyframes slideUp {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
  }

  .close{
    position: fixed;
    margin-left: 5%;
  }

  .selector-images{
    padding-top: 5%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    gap: 5%;
  }

  .selector-images img{
    height: 15%;
  }


  .down-section{
    background-color: #212422;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    overflow-y: scroll;
  }

  .segment-container{
    width: 40%;
    margin: 5%;
  }
  
  .segment-container video{
    width: 100%;
  }
}